* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  background-color: #f6f9fa;
}

nav button {
  padding: 10px 20px;
  border-radius: 12px;
  border: 1px solid #394867;
  background: transparent;
}

main {
    padding: 20px 100px;
}

main h1 {
    font-family: Outfit;
    font-weight: 500;
    font-style: Medium;
    font-size: 26px;
}

main .box1 .card {
  width: 380px;
  height: 499px;
  opacity: 1;
  border-radius: 20px;

  border: 1px solid #394867b2;
}

main .box1 .card .card_top {
  text-align: center;
  background-color: #394867;
  padding: 20px 0;
  border-radius: 20px;
}

main .box1 .card .card_top img {
  width: 114px;
  height: 114px;
}

main .box1 .card .card_bottom {
  background-color: #f6f9fa;
}

main .box1 .card .card_bottom .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

main .box1 .card .card_bottom .form input {
  width: 348px;
  height: 36px;
  border-radius: 8px;
  border-width: 1px;
  padding-left: 10px;
}

main .box1 .card .card_bottom .form button {
  background: #394867;
  border: 1px solid #394867;
  width: 348px;
  height: 36px;
  border-radius: 8px;
  color: white;
}


main {
    display: flex;
    justify-content: space-between;
}

main .box2 h2 {
    text-align: center;
}

main .box2 .card {
    padding: 20px;
    border-radius: 20px;
    background-color: #F6F9FA;
}

main .box2 .card .contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main .box2 .card .contacts .contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .box2 .card .contacts .contact .contact_div {
    display: flex;
    align-items: center;
    gap: 10px;
}

main .box2 .card .card_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

main .box2 .card .card_div img {
    width: 39px;
}

main .box2 .card .card_div input {
    width: 804px;
    height: 36px;
    padding-left: 20px;
}

main .box2 .card .contact_div .fa-star {
    color: gold;
}

main .box2 .card .card_div button {
    height: 36px;
    width: 50px;
}
.qora{
  background-color: #212A3E ! important;
  color: white;
}
.border{
  border: 2px solid white;
  color: white;
  background-color: #212A3E;
}
.tugma{
  background-color: white ! important;
  color: #212A3E ! important;
}
.dark1{
  background-color: #263148 ! important;
}

.body{
  position: relative;
}
.img1{
  position: absolute;
  top: 30%;
  left: 40%;
  display: none;
}
.web{
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.479) ;
  width: 100%;
  position: absolute;
  top: 0;
}
.x {
  padding: 10px 20px;
  font-size: 20px;
  background-color: red;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}
.download {
  padding: 10px 10px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.377);
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  margin-right: 50px;
}